* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 50px;
}

/* Title Style */
.title {
    font-size: 50px;
    text-align: center;
}

/* Slider Style */
.slider {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(192, 190, 190, 0.396);
}

.slider-details {
    color: white;
    text-align: center;
    position: absolute;
    top: 200px;
    right: 350px;
}

.slider-details h1 {
    font-size: 36px;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
}

.slider-details p {
    font-size: 20px;
    text-shadow: 2px 2px black;
}